<% provide :page_title, t(".mbills-title") %>
<% provide(:active_mbills, "active") %>

<div class="container-bill">
  Bills:
  <% @bills.each do |bill| %>
    <div class="card">
      <h5 class="card-header"><%= "\##{bill.id} #{bill.room.name}" %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= get_bill_status bill.status %></h5>
        <p class="card-text"><i class="fas fa-calendar-week"></i> <%= t ".date" %>: <%= "#{bill.time_checkin}"%> -> <%= "#{bill.time_checkout}"%></p>
        <p class="card-text"><i class="fas fa-coins"></i> <%= t ".total-price" %>: <%= bill.total_price %>đ</p>
        <p class="card-text"><small class="text-muted"><%= time_when_create_order(bill.created_at) %></small></p>
      </div>
    </div>
  <% end %>
  <%= paginate @bills, theme: "twitter-bootstrap-4" %>
</div>
