<% provide(:page_title, t(".manage-pub-title")) %>
<% provide(:active_mp, "active") %>

<div class="search-bar">

  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder=<%= t ".search-input" %> aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><%= t ".search-input" %></button>
  </form>
</div>
<table class="table list-rooms">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col"><%= t(".publisher-col") %></th>
      <th scope="col"><%= t(".image-col") %></th>
      <th scope="col"><%= t(".room-quantity-col") %></th>
      <th scope="col"><%= t(".options-col") %></th>
    </tr>
  </thead>
  <tbody>
    <% @publishers.each do |publisher| %>
    <tr>
      <th scope="row"><%= publisher.id %></th>
      <td><%= publisher.first_name+" "+publisher.last_name %></td>
      <td><%= image_tag(publisher.avatar, size: "52x52") %></td>
      <td><%= publisher.rooms.count %></td>
      <td>
        <%= link_to "#", class: "badge rounded-pill bg-danger" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
