<% provide :page_title, t(".rooms-title") %>
<% provide(:active_rooms, "active") %>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>

<div class="search-bar">
  <button type="button" class="btn btn-primary add-room" data-bs-toggle="modal" data-bs-target="#exampleModal">
    + <%= t(".btn-add-new") %>
  </button>

  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
<table class="table list-rooms">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col"><%= t(".name-col") %></th>
      <th scope="col"><%= t(".image-col") %></th>
      <th scope="col"><%= t(".price-col") %></th>
      <th scope="col"><%= t(".status-col") %></th>
      <th scope="col"><%= t(".options-col") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <th scope="row"><%= room.id %></th>
        <td class="modal_click" data-bs-toggle="modal" data-bs-target=<%= "#room_info_modal"+room.id.to_s %>>
          <p class="room-name">
            <%= room.name %>
          </p>
        </td>

        <td>
          <%= image_tag(room.images.first, size: "52x52") if room.images.present? %>
        </td>

        <td>
          <%= room.price %>đ
        </td>

        <td>
          <%= get_status room.status %>
        </td>

        <td>
          <button class= "badge rounded-pill bg-primary button-edit", data-bs-toggle= "modal", data-bs-target=<%= "#edit"+room.id.to_s %>>
            <i class="far fa-edit"></i>
          </button>
          <%= link_to publisher_room_path(id: room.id),remote: true , method: :delete, data: { confirm: "You sure?" }, class: "badge rounded-pill bg-danger room-item" do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
          <% if room.using? %>
            <%= link_to publisher_returned_path(id: room.id), method: :patch, class: "badge rounded-pill bg-success" do %>
              <i class="fas fa-check"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
      <div class="modal fade" id=<%= "edit"+room.id.to_s %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= t(".modal-add-room") %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_for room, url: {action: :update, controller: "publisher/rooms"} do |f| %>
                <%= f.hidden_field :id %>
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control", autocomplete: "off" %>
                <%= f.label :price %>
                <%= f.text_field :price, class: "form-control", autocomplete: "off" %>
                <%= f.label :description %>
                <%= f.text_field :description, class: "form-control", autocomplete: "off" %>
                <%= f.label :select_city %>
                <%= f.collection_select :city_id, City.all, :id, :name, {prompt: "Select a City"}, {class:"form-select"} %>
                <%= f.label :image %>
                <%= f.file_field :images, multiple: true, class: "form-control", autocomplete: "off" %>
                <br>
                <%= f.submit "Add city", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id=<%= "room_info_modal"+room.id.to_s %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          <h4>
            <%= room.name %>
          </h4>
          <%= image_tag(room.images.first, size: "520x440") if room.images.present? %>
          <br>
          <br>
          <h5><%= t(".price-col")+": "+room.price.to_s %>vnđ</h5>
          <p><%= t(".status-col") %>:
            <%= room.status %>
          </p>
          <p>
            <%= t(".des") %> : <br>
            <p><%= room.description %></p>
          </p>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </tbody>
</table>

<%= paginate @rooms, theme: "twitter-bootstrap-4" %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new room</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for @room, url: {action: :create, controller: "publisher/rooms"} do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", autocomplete: "off" %>
          <%= f.label :price %>
          <%= f.text_field :price, class: "form-control", autocomplete: "off" %>
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control", autocomplete: "off" %>
          <%= f.label :select_city %>
          <%= f.collection_select :city_id, City.all, :id, :name, {prompt: "Select a City"}, {class:"form-select"} %>

          <%= f.hidden_field :user_id, value: current_user.id %>

          <%= f.label :image %>
          <%= f.file_field :images, multiple: true, class: "form-control", autocomplete: "off" %>

          <br>
          <%= f.submit "Publish", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
