<% provide :page_title, t(".preq-title") %>
<% provide(:active_preq, "active") %>

<div class="rreq-container">
  <% @req_publishers.each do |req_publisher| %>
    <div class="card-contain">
      <div class="card req_publisherItem">
        <h5 class="card-header"><%=
          req_publisher.user.name.nil? ? "\##{req_publisher.id} #{req_publisher.user.last_name} #{req_publisher.user.first_name}":
          "\##{req_publisher.id} #{req_publisher.user.name}" %></h5>
        <div class="card-body">
          <p>Address: <%= req_publisher.address %></p>
          <p>Age: <%= req_publisher.age %></p>
          <p>Gender: <%= req_publisher.gender %></p>
          <p class="card-text"><small class="text-muted"><%= time_when_create_order(req_publisher.created_at) %></small></p>
          <%= link_to "Accept", admin_accept_req_user_path(id: req_publisher.user.id), remote: true, method: :patch, type: "button", data: { confirm: "You sure?" }, class: "btn btn-primary approve-req" %>
          <%= link_to "Delete", admin_delete_req_user_path(id: req_publisher.user.id), remote: true, method: :delete, type: "button", data: { confirm: "You sure?" }, class: "btn btn-danger delete-req" %>
        </div>
      </div>
      <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast" class="toast toast-approve hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
          <div class="toast-header">
            <i class="fas fa-upload"></i>
            <strong class="mr-auto">ID: <%= "\##{req_publisher.id}" %></strong>
            <small><%= t ".just" %></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            <i class="fas fa-check-circle" style="color: #28a745"></i> <%= t ".approve-message" %>
            <%= link_to "#{current_user.first_name} #{current_user.last_name}", "#", style: "text-decoration: none" %>
          </div>
        </div>
      </div>
      <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast" class="toast toast-cancel hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
          <div class="toast-header">
            <i class="fas fa-upload"></i>
            <strong class="mr-auto">ID: <%= "\##{req_publisher.id}" %></strong>
            <small><%= t ".just" %></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            <i class="fas fa-check-circle" style="color: #28a745"></i> <%= t ".cancel-message" %>
            <%= link_to "#{current_user.first_name} #{current_user.last_name}", "#", style: "text-decoration: none" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
