<% provide(:page_title, "List Cities") %>
<% provide(:active_city, "active") %>

<div class="search-bar"> 
  <button type="button" class="btn btn-primary add-room" data-bs-toggle="modal" data-bs-target="#exampleModal">
  + Add New
  </button>

  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
<table class="table list-rooms">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">City</th>
      <th scope="col">Image</th>
      <th scope="col">Rooms Quatity</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hà Nội</td>
      <td><%= image_tag("https://cdn.luxstay.com/home/location/location_1_1559734709.png", size: "52x52") %></td>
      <td>866</td>
      <td>
        <%= link_to "#", class: "badge rounded-pill bg-primary" do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to "#", class: "badge rounded-pill bg-danger" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hồ Chí Minh</td>
      <td><%= image_tag("https://cdn.luxstay.com/home/location/location_5_1559735011.png", size: "52x52") %></td>
      <td>688</td>
      <td>
        <%= link_to "#", class: "badge rounded-pill bg-primary" do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to "#", class: "badge rounded-pill bg-danger" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Đà Nẵng</td>
      <td><%= image_tag("https://cdn.luxstay.com/home/location/location_16_1559303173.png", size: "52x52") %></td>
      <td>561</td>
      <td>
        <%= link_to "#", class: "badge rounded-pill bg-primary" do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to "#", class: "badge rounded-pill bg-danger" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Nha Trang</td>
      <td><%= image_tag("https://cdn.luxstay.com/home/location/location_1_1559373089.png", size: "52x52") %></td>
      <td>356</td>
      <td>
        <%= link_to "#", class: "badge rounded-pill bg-primary" do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to "#", class: "badge rounded-pill bg-danger" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new room</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for :addroom do |f| %>
          <%= f.label :city %>
          <%= f.text_field :city, class: "form-control", autocomplete: "off" %>
          <%= f.label :describe %>
          <%= f.text_field :describe, class: "form-control", autocomplete: "off" %>
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
          <br>
          <%= f.submit "Add city", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>