<% provide :page_title, t(".cities-title") %>
<% provide(:active_city, "active") %>

<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>

<div class="search-bar">
  <button type="button" class="btn btn-primary add-room" data-bs-toggle="modal" data-bs-target="#exampleModal">
  + <%= t(".btn-add-new") %>
  </button>

  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><%= t(".search-input") %></button>
  </form>
</div>
<table class="table list-rooms">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col"><%= t(".city-col") %></th>
      <th scope="col"><%= t(".image-col") %></th>
      <th scope="col"><%= t(".room-quantity-col") %></th>
      <th scope="col"><%= t(".options-col") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <th scope="row"><%= city.id %></th>
        <td><%= city.name %></td>
        <td><%= image_tag(city.image, size: "52x52") %></td>
        <td><%= city.rooms.count %></td>
        <td>
          <button class= "badge rounded-pill bg-primary button-edit", data-bs-toggle= "modal", data-bs-target=<%= "#edit"+city.id.to_s %>>
            <i class="far fa-edit"></i>
          </button>
          <%= link_to admin_city_path(id: city.id), remote: true, method: :delete, data: { confirm: "You sure?" }, class: "badge rounded-pill bg-danger city-item" do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
      <div class="modal fade" id=<%= "edit"+city.id.to_s %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= t(".modal-add-room") %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_for city, url: {action: :update, controller: "admin/cities"} do |f| %>
                <%= f.label :city %>
                <%= f.text_field :name, class: "form-control", autocomplete: "off" %>
                <%= f.label :image %>
                <%= f.file_field :image, class: "form-control", autocomplete: "off" %>
                <%= f.hidden_field :id, value: city.id, class: "form-control", autocomplete: "off" %>
                <br>
                <%= f.submit "Add city", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<%= paginate @cities, theme: "twitter-bootstrap-4" %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t(".modal-add-room") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for @city, url: {action: :create, controller: "admin/cities"} do |f| %>
          <%= f.label :city %>
          <%= f.text_field :name, class: "form-control", autocomplete: "off" %>
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control", autocomplete: "off" %>
          <br>
          <%= f.submit "Add city", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
