<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <a href="#" class="brand-link">
    <img src="/packs/media/assets/images/logo-ebd980b26329c8e69c31964f9a8b09de.png" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Booking App</span>
    </a>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      </div>
      <div class="info">
        <a href="#" class="d-block"><%= admin_username %></a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <%= link_to admin_root_path, class: active_for_sidebar(yield(:active_dboard)) do %>
            <i class="me-3 far fa-clock fa-fw"></i>
            <p>
              <%= t(".dashboard-btn") %>
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_manage_publishers_path, class: active_for_sidebar(yield(:active_mp)) do %>
            <i class="fas fa-user-alt"></i>
            <p>
              <%= t(".manage-publisher-btn") %>
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_publisher_requests_path, class: active_for_sidebar(yield(:active_preq)) do %>
            <i class="fas fa-upload"></i>
            <p>
              <%= t(".register-requests-btn") %>
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_register_requests_path, class: active_for_sidebar(yield(:active_rreq)) do %>
            <i class="fas fa-upload"></i>
            <p>
              <%= t(".uproom-requests-btn") %>
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_cities_path, class: active_for_sidebar(yield(:active_city)) do %>
            <i class="fas fa-city"></i>
            <p>
              <%= t(".cities-btn") %>
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
